@font-face {
  font-family: 'reeyregular';
  src: url('fonts/open-sans/reey-regular-webfont.woff2') format('woff2'),
       url('fonts/open-sans/reey-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'opensans';
  src: url('fonts/open-sans/opensans-regular-webfont.woff2') format('woff2'),
       url('fonts/open-sans/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'opensans';
  src: url('fonts/open-sans/opensans-bold-webfont.woff2') format('woff2'),
       url('fonts/open-sans/opensans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}




body {
  margin: 10px;
  font-family: "reeyregular", Arial, Helvetica, sans-serif; /* best practice to include the font-family in the body, so all text will be the same.  */
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif; /* hit control + space to give you the primary generic font-family's for most browsers */
}

p {
  font-weight: normal;
  font-style: italic;
  font-size: 1rem;
  color: #333 /* general text is better to be slightly lighter than black */
}


/* WHERE TO FIND FONTS
fontsquirrel.com
fonts.com
myfonts.com

this is a bit of a process, so I suggest reviewing the step by step instructions from Mosh's video