body {
    margin: 10px;
}

#product ~ p {
    color: orange;
}

article p:first-of-type {
    font-size:140%;
    font-style:italic;
}

article :last-child {
    font-weight: bold;

}

ul li:nth-child(even) {
    color: deeppink;
}

a:visited, 
a:link {
    color:dodgerblue;
}

a:hover,
a:focus {
    color:deeppink;
}

p::first-letter {
    font-size: 140%;
    font-weight: bold;
}

p::first-line {
    font-weight: bold;
}

::selection {
    background-color: pink;
}

p::after {
    content: "...";
    display: block;
}

h1 {
    color: dodgerblue;
}

.highlight {
    color: deeppink;
}

#products {
    color: green;
}

h1#products{
    color: dodgerblue;
}

.featured#products {
    color: blue;
}

strong {
    color: initial;
    border: inherit;
}

/*use css gradient or a gradient generator from google */
.box {
    width: 200px;
    height: 200px;
    background: dodgerblue;
    box-shadow: 10px;
    border: 10px dashed royalblue;
    border-top: 20px solid royalblue;
    background: linear-gradient(45deg, 
                rgba(2,0,36,1) 0%, 
                rgba(59,59,210,1) 35%,  
                rgba(0,212,255,1) 100%);
                box-shadow: 10px 10px;

}

.boxes {
    width: 200px;
    height: 200px;
    background: rgb(129, 22, 8);
    box-shadow: 0 0 30px;
}

h3 {
    color: white;
    padding: 20px;
    text-shadow: 3px 3px 5px rgba(0,0,0,1)
}

table, td {
    border: 1px solid #c4dcf3;
    border-collapse: collapse;
    padding: 5px;
}

thead, tfoot, th {
    background-color: #427fef;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #eef7ff
}