*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body {
    margin: 10px;
}

.box {
    width: 150px;
    height: 150px;
    border: 3px solid gold;
    overflow: hidden auto;
}

/* overflow is used for when content falls outside of the border-box.
  We can use overflow: hidden, scroll, or auto.  You can also use overflow-x 
  and overflow-y depending if we want to focuse the overflow a specific direction */
