body {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 100px;
    height: 100px;
    background: gold;
    transition: transform 1s linear 1s, background .5s;
}

.box:hover {
    transform: rotate(45deg);
    background: dodgerblue;
}