.container {
    display: flex;
    flex-direction: column;
}

.box {
    background: gold;
    padding: 1rem;
}

.box:nth-of-type(2) {
    background: dodgerblue;
}

@media screen and (min-width: 600px) {
    .container {
        flex-direction: row;
    }
}
@media screen and (min-width: 900px) {
    .container {
        flex-direction: row;
    }
    .box {
        background:white;
    }
}

@media print {
    body {
        font-size: 12pt;
    }

    .box {
        padding: 0.5
    }
}

/* 
Media types can be set to all, print, screen, or speech. The all type, which is the most common type and the default in HTML5, applies the media query to every media type. But if you want the styles within the media query to apply only when the web page is printed, you can use print instead. */